:root {
    box-sizing: border-box;
    margin: 2em 0;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        ". nav ."
        ". article ."
        "footer footer footer";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 50% 1fr;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
    font-size: 1em;
    font-family: Times, serif;
    line-height: 1.5em;
    margin: 2em 0;
}

#pageHeader {
    grid-area: header;
    margin: 0;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
    align-self: flex-start;
}

/*main {*/
/*    min-width: 0;*/
/*    max-width: 35em;*/
/*    padding: 1em;*/
/*}*/

.nav-bar {
    /*width: 15em;*/
    /*padding: 1em;*/
}

.alert {
  border: 4px dashed #ffb03e;
}

.nav-links {
    border: 2px solid black;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links > li {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}

@media all and (max-width: 800px) {
    header > h1 {
        text-align: center;
        font-size: 6vw;
    }

    body {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "ads"
            "footer";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
    }

    menu {
        padding-left: 0;
        padding-inline-start: 0;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links > li {
        font-size: 160%;
        margin: 10px;
    }
}
