:root {
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 32px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Times, serif;
}

.nav-bar {
    width: 100%;
}

.nav-links {
    padding: 0 0 0 0;
    display: flex;
    justify-items: start;
    align-items: start;
    list-style: none;
}

.nav-links > li {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
}

.nav-right {
    margin-left: auto;
}