www.princetonpy.org {
    @notStatic {
        not {
            file {
                try_files {path} {path}.html
            }
        }
    }
    reverse_proxy @notStatic web:8000

	handle_path /static/* {
		root * /princetonpy_static
		file_server
	}

    file_server {
        root /srv
    }
}

princetonpy.org {
	redir https://www.princetonpy.org{uri}
}
