[Unit]
Description=Deploy princetonpy service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=120
Type=oneshot
ExecStartPre=/usr/local/sbin/pull-image.sh
ExecStart=/usr/bin/systemctl restart princetonpy-cron.service
ExecStart=/usr/bin/systemctl restart princetonpy-web.service

[Install]
WantedBy=default.target