[Unit]
Description=Caddy deploy service
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart caddy

[Install]
WantedBy=multi-user.target