[Unit]
Description=PrincetonPy services
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=120
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose \
    -f /home/princeton/deployed/docker-compose.prod.yml \
    up -d
ExecStop=/usr/bin/docker compose \
    -f /home/princeton/deployed/docker-compose.prod.yml \
    down -d

[Install]
WantedBy=default.target