[Unit]
Description=PrincetonPy cron service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=120
Restart=always
ExecStart=/usr/bin/docker compose \
    -f /home/princetonpy/deployed/docker-compose.prod.yml \
    up cron
ExecStop=/usr/bin/docker compose \
    -f /home/princetonpy/deployed/docker-compose.prod.yml \
    down cron

[Install]
WantedBy=default.target