{% extends 'base.html' %}

{% block body %}
    <h2>Sign up for announcements</h2>
    <p>We'll send you an email to announce upcoming meetings with details about topics, speakers, etc.</p>
    <form enctype="multipart/form-data" method="post" action="/newsletter/princetonpy/subscribe/">
        {% csrf_token %}
        <label for="id_email_field">E-mail:</label> <input type="email" name="email_field" required=""
                                                           id="id_email_field">
        <button id="id_submit" name="submit" value="Subscribe" type="submit">Subscribe</button>
    </form>
{% endblock body %}