{% load thumbnail %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Meetings</title>
    <meta name="description" content="PPUG meeting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>{{ message.title }}</h1>

<p><u>Date</u>: {{ meeting.date_str }}</p>

{% if not message.articles.all %}
    <p>Stay tuned for updates!</p>
{% endif %}
{% for article in message.articles.all %}
    <h2>{{ article.title }}</h2>

    {% thumbnail article.image "200x200" as image %}
        <img src="http://{{ site.domain }}{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
    {% endthumbnail %}

    <div>{{ article.text|safe }}</div>
{% endfor %}

{% if meeting.meeting_text %}
    {{ meeting.meeting_text|safe }}
{% elif message.articles.all %}
    <p>Stay tuned for meeting updates!</p>
{% endif %}

</body>
</html>
