{% extends 'base.html' %}
{% load static %}
{% block more_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/meeting_list.css' %}">
{% endblock %}

{% block body %}
    <menu>
    {% for meeting in meetings %}
        <li><a href="/meeting/{{ meeting.pk }}">{{ meeting.date }}</a> - {{ meeting.title }}</li>
    {% endfor %}
    </menu>

    {% if meetings.has_other_pages %}
      <ul class="pagination">
        {% if meetings.has_previous %}
          <li><a href="?page={{ meetings.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in meetings.paginator.page_range %}
          {% if meetings.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if meetings.has_next %}
          <li><a href="?page={{ meetings.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}
