<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Next meeting TBA</title>
	<meta name="description" content="PPUG meeting">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<p><a href="/">Homepage</a></p>
	<p><u>Date</u>: <b>{{ when }}</b></p>

	<p>Agenda to be announced!</p>
	<p>We haven't put together the agenda for the next meeting yet, but here's what we're thinking...</p>
	<p>
		Future meetings will include talks on:
		<ul>
			<li>data visualization in Pandas</li>
			<li>crash courses in deep learning</li>
			<li>learn python from scratch</li>
			<li>Embrace error: how error foo can advance your coding, and beyond!</li>
		</ul>
		Plus installments of our ongoing series:
		<ul>
			<li>"Future of Coding" explores automated transformation of source code.</li>
			<li>"Demysti-py" looks at how familiar constructs are implemented.</li>
			<li>"Pythonic pitfalls" improves both your code and your fundamentals.</li>
			<li>"Deep reading" explores and applies academic articles on deep learning.</li>
			<li>"New tool roundup" by our resident code hound keeps you updated.</li>
		</ul>
	</p>
</body>
</html>
