<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Princeton Python User Group{% endblock %}</title>
    <meta name="description" content="{% block title-content %}Princeton Python User Group{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
    {% block more_stylesheets %}
    {% endblock %}
    {% block jitsi %}
    {% endblock %}
</head>

<body>
<header id="pageHeader">
    <h1>Princeton Python User Group</h1>
</header>

{% include 'nav.html' %}

<main id="mainArticle">
{% block body %}{% endblock %}
</main>
</body>
</html>
