{% extends 'base.html' %}

{% block body %}

<section>
    <h2>Who we are:</h2>
    <p>We're a group for all things Python, open-source and STEM.</p>
    <p>Whether you've never programmed, or have been programming for a long time - please join us!</p>
    <p>We're always looking for people for presentations, so if you have something you'd like to talk about,
        please let us know!</p>
    <p>Tell us in advance and we can announce the topic beforehand, otherwise we always have an open floor for
        discussion.</p>
    <p>There really isn't a high bar to participate; this is great space to bring up things like:</p>
    <ul>
        <li>projects (we like to hear about works-in-progress too)</li>
        <li>code snippets & language feature examples</li>
        <li>a problem you're stumped by</li>
        <li>an interesting library</li>
    </ul>
</section>

<section>
    <h2>When:</h2>
    <p>We meet regularly on the second Monday of every month from 7-8:30pm.</p>
</section>

<section>
    <h2>Location:</h2>
    <p>When conditions permit in-person meetings:</p>
    <p translate="no">
        <a href="https://tigerlabs.co">Tigerlabs</a><br>
        252 Nassau Street<br>
        2nd floor<br>
        Princeton, <abbr title="New Jersey">NJ</abbr> 08542
    </p>
    <p>Otherwise online at:</p>
    {% if link_entry.link and link_entry.link_text %}
        <p><a href="{{ link_entry.link }}">{{ link_entry.link_text }}</a></p>
    {% elif link_entry.link %}
        <p><a href="{{ link_entry.link }}">{{ link_entry.link }}</a></p>
    {% else %}
        <p>Meeting link TBA!</p>
    {% endif %}
</section>

<section>
    <h2>Chat with us:</h2>
    <p><a href="https://matrix.to/#/+ppug:matrix.org">https://matrix.to/#/+ppug:matrix.org</a></p>
</section>

{% endblock %}
